.wrapper{
  @include flexbox($dir:column);
  width: 100%;
  height: 100%;
  padding: 20px;
  .title {
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
    .logo{
      color: getColor(primary);
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .wrapper {
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (max-width: $mobile-width) {
  .wrapper {
    width: 100%;
  }
}