@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@mixin nowrap {
  white-space: nowrap;
}

// default: center
@mixin flexbox($js: center, $ai: center, $dir: row) {
  display: flex;
  justify-content: $js;
  align-items: $ai;
  flex-direction: $dir;
}

@mixin position($position, $t: null, $r: null, $b: null, $l: null) {
  position: $position;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}


//컨텐츠 숨기 처리(accessibility)
@mixin a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  text-indent: -999em;
}